.footer {
    color: #FFF;
    padding: 20px 0;
    background: $text-color-1;

    &__socials {
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        gap: 10px 25px;
    }

    &__copyright {
        text-align: center;
    }
}